
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fafafb;
    --blue-light: #82d5fc;
    --purple: #d48ad6;
    --blue-dark: #3f8a6b;
    --green: #2c7b90;
    --black: #000;

    --bg-light: var(--white);
    --text-light: var(--black);
    --bg-dark: #121212;
    --text-dark: #e0e0e0;

}

body {
    background: linear-gradient(to bottom, var(--blue-light), var(--white));
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Prompt', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    max-width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* PERFIL */

.perfil h1,
.perfil span,
#fecha {
    color: var(--black);
}

.perfil span {
    letter-spacing: 1px;
}

#fecha {
    padding: 50px 0 5px 0;
}

/* AGREGAR TAREA */

.agregar-tarea {
    background-color: var(--white);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 20px 0;
}

.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;
}

.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--purple);
}

.agregar-tarea i {
    font-size: 40px;
    color: var(--purple);
    cursor: pointer;
}

.agregar-tarea i:hover {
    transform: scale(1.1);
}

/* SECCION DE TAREA */

.seccion-tarea h3 {
    color: var(--black);
    margin-bottom: 20px;
}

.seccion-tarea ul {
    list-style: none;
    padding: 0;
}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--blue-dark), var(--green));
    border-radius: 15px;
    padding: 10px;
    color: var(--white);
    margin: 5px 0;
}

.seccion-tarea i {
    font-size: 25px;
}

.seccion-tarea .text {
    font-size: 1.2rem;
}

.seccion-tarea i:hover {
    color: var(--purple);
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
    color: var(--blue-light);
}

/* Estilos para el input de fecha */
.fecha-tarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

